<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="volaty" class="com.fusibang.help.Volaty">
        <property name="publicName1" value="${wechatg.publicName1}"></property>
    </bean>
    <bean id="versionInfo" class="com.fusibang.help.VersionInfo">
        <property name="version" value="${versioninfo.version}"></property>
        <property name="mustUpdate" value="${versioninfo.mustUpdate}"></property>
        <property name="describe" value="${versioninfo.describe}"></property>
        <property name="updateurl" value="${versioninfo.updateurl}"></property>
    </bean>
    <bean id="payHelp" class="com.fusibang.help.PayHelp">
        <property name="identifyDao" ref="identifyDao"></property>
        <property name="payDao" ref="payDao"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="cut" value="false"></property>
        <property name="cutRate" value="20"></property>
    </bean>
    <!-- 上传图片 -->
    <bean id="imageUpload" class="com.fusibang.actions.ImageUpload"></bean>
    <!-- 超市 -->
    <bean id="appStoreHelp" class="com.fusibang.help.AppStoreHelp">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="appStoreDao" class="com.fusibang.dao.AppStoreDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
        <property name="appStoreHelp" ref="appStoreHelp"></property>
    </bean>

    <bean id="appStoreService" class="com.fusibang.servicesimp.AppStoreServiceImp">
        <property name="appStoreDao" ref="appStoreDao"></property>
        <property name="appStoreHelp" ref="appStoreHelp"></property>
        <property name="config" ref="config"></property>
    </bean>

    <bean id="appStoreAction" class="com.fusibang.actions.AppStoreAction" scope="prototype">
        <property name="appStoreHelp" ref="appStoreHelp"></property>
        <property name="appStoreService" ref="appStoreService"></property>
    </bean>
    <!-- 管理员 -->
    <bean id="adminDao" class="com.fusibang.dao.AdminDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="adminService" class="com.fusibang.servicesimp.AdminServiceImp">
        <property name="adminDao" ref="adminDao"></property>
    </bean>

    <bean id="adminAction" class="com.fusibang.actions.AdminAction" scope="prototype">
        <property name="adminService" ref="adminService"></property>
    </bean>
    <!-- 渠道 -->
    <bean id="channelDao" class="com.fusibang.dao.ChannelDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="channelService" class="com.fusibang.servicesimp.ChannelServiceImp">
        <property name="adminDao" ref="adminDao"></property>
        <property name="channelDao" ref="channelDao"></property>
        <property name="config" ref="config"></property>
    </bean>
    <bean id="channelAction" class="com.fusibang.actions.ChannelAction" scope="prototype">
        <property name="channelService" ref="channelService"></property>
    </bean>
    <!-- 管理员视图 -->
    <bean id="adminDetailDao" class="com.fusibang.dao.AdminDetailDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="adminDetailService" class="com.fusibang.servicesimp.AdminDetailServiceImp">
        <property name="adminDetailDao" ref="adminDetailDao"></property>
    </bean>
    <bean id="adminDetailAction" class="com.fusibang.actions.AdminDetailAction" scope="prototype">
        <property name="adminDetailService" ref="adminDetailService"></property>
    </bean>
    <!-- 用户 -->
    <bean id="userDao" class="com.fusibang.dao.UserDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="userService" class="com.fusibang.servicesimp.UserServiceImp">
        <property name="userDao" ref="userDao"></property>
        <property name="adminDao" ref="adminDao"></property>
        <property name="jedisFactory" ref="jedisFactory"></property>
        <property name="channelDao" ref="channelDao"></property>
        <property name="payHelp" ref="payHelp"></property>
        <property name="host" value="${project.host}"></property>
        <property name="webName" value="${project.name}"></property>
    </bean>
    <bean id="userAction" class="com.fusibang.actions.UserAction" scope="prototype">
        <property name="userService" ref="userService"></property>
    </bean>
    <!-- 用户认证 -->
    <bean id="identifyDao" class="com.fusibang.dao.IdentifyDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="identifyService" class="com.fusibang.servicesimp.IdentifyServiceImp">
        <property name="identifyDao" ref="identifyDao"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="volaty" ref="volaty"></property>
        <property name="versionInfo" ref="versionInfo"></property>
    </bean>
    <bean id="identifyAction" class="com.fusibang.actions.IdentifyAction" scope="prototype">
        <property name="identifyService" ref="identifyService"></property>
    </bean>
    <!-- 身份证 -->
    <bean id="IdCardDao" class="com.fusibang.dao.IdCardDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="IdCardService" class="com.fusibang.servicesimp.IdCardServiceImp">
        <property name="idCardDao" ref="IdCardDao"></property>
        <property name="identifyDao" ref="identifyDao"></property>
        <property name="userDao" ref="userDao"></property>
    </bean>
    <bean id="idCardAction" class="com.fusibang.actions.IdCardAction" scope="prototype">
        <property name="IdCardService" ref="IdCardService"></property>
    </bean>
    <!-- 用户资料 -->
    <bean id="userDetailDao" class="com.fusibang.dao.UserDetailDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="userDetailService" class="com.fusibang.servicesimp.UserDetailServiceImp">
        <property name="userDetailDao" ref="userDetailDao"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="identifyDao" ref="identifyDao"></property>
        <property name="idCardDao" ref="IdCardDao"></property>
    </bean>
    <bean id="userDetailAction" class="com.fusibang.actions.UserDetailAction" scope="prototype">
        <property name="userDetailService" ref="userDetailService"></property>
    </bean>
    <!-- 补充质料 -->
    <bean id="userDetailAppendDao" class="com.fusibang.dao.UserDetailAppendDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="detailAppendService" class="com.fusibang.servicesimp.DetailAppendServiceImp">
        <property name="userDetailAppendDao" ref="userDetailAppendDao"></property>
        <property name="identifyDao" ref="identifyDao"></property>
        <property name="userDao" ref="userDao"></property>
    </bean>
    <bean name="detailAppendAction" class="com.fusibang.actions.DetailAppendAction" scope="prototype">
        <property name="detailAppendService" ref="detailAppendService"></property>
    </bean>
    <!-- 备份联系人 -->
    <bean id="userContactDao" class="com.fusibang.dao.UserContactDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="userContactService" class="com.fusibang.servicesimp.UserContactServiceImp">
        <property name="userContactDao" ref="userContactDao"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="identifyDao" ref="identifyDao"></property>
    </bean>
    <bean id="userContactAction" class="com.fusibang.actions.UserContactAction" scope="prototype">
        <property name="userContactService" ref="userContactService"></property>
    </bean>
    <!-- 申请借款 -->
    <bean id="lendDao" class="com.fusibang.dao.LendDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="lendSercice" class="com.fusibang.servicesimp.LendServiceImp">
        <property name="identifyDao" ref="identifyDao"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="lendDao" ref="lendDao"></property>
        <property name="appid" value="${wechatg.appid}"></property>
        <property name="host" value="${project.host}"></property>
        <property name="webName" value="${project.name}"></property>
        <property name="guanzhu" value="${wechatg.guanzhu}"></property>
    </bean>
    <bean id="lendAction" class="com.fusibang.actions.LendAction" scope="prototype">
        <property name="lendSercice" ref="lendSercice"></property>
    </bean>
    <!-- 验证码 -->
    <!-- 天瑞短信平台 -->
    <bean id="phoneVerify" class="com.fusibang.help.PhoneVerify">
        <property name="accesskey" value="${trvalify.accesskey}"></property>
        <property name="secret" value="${trvalify.secret}"></property>
        <property name="sign" value="${trvalify.sign}"></property>
        <property name="templateParamRegiste" value="${trvalify.templateParamRegiste}"></property>
        <property name="templateParamModifyPwd" value="${trvalify.templateParamModifyPwd}"></property>
        <property name="templateParamLogin" value="${trvalify.templateParamLogin}"></property>
    </bean>
    <!-- 宋哥短信平台  -->
    <bean id="phoneVerifyMessage" class="com.fusibang.help.PhoneVerifyMessage">
        <property name="userid" value="${songverify.userid}"></property>
        <property name="account" value="${songverify.account}"></property>
        <property name="password" value="${songverify.password}"></property>
        <property name="model" value="${songverify.model}"></property>
    </bean>

    <bean id="imageVerifyCode" class="com.fusibang.actions.ImageVerifyCode" scope="prototype"></bean>

    <bean id="phoneVerifyService" class="com.fusibang.servicesimp.PhoneVerifyServiceImp">
        <property name="model" value="${project.model}"></property>
        <property name="interval" value="${project.interval}"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="jedisFactory" ref="jedisFactory"></property>
        <property name="phoneVerify" ref="phoneVerify"></property>
        <property name="phoneVerifyMessage" ref="phoneVerifyMessage"></property>
    </bean>
    <bean id="phoneVerifyAction" class="com.fusibang.actions.PhoneVerifyAction" scope="prototype">
        <property name="phoneVerifyService" ref="phoneVerifyService"></property>
    </bean>
    <!-- 支付 -->
    <bean id="payDao" class="com.fusibang.dao.PayDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- 畅快借支付 -->
    <bean id="bankAuthDao" class="com.fusibang.dao.BankAuthDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="chanPayHelp" class="com.fusibang.help.ChanPayHelp">
        <property name="PartnerId" value="${chanpay.PartnerId}"></property>
        <property name="SellerId" value="${chanpay.SellerId}"></property>
        <property name="host" value="${project.host}"></property>
        <property name="webName" value="${project.name}"></property>
        <property name="TrxAmt" value="${chanpay.TrxAmt}"></property>
    </bean>
    <bean id="chanPayService" class="com.fusibang.servicesimp.ChanPayServiceImp">
        <property name="userDao" ref="userDao"></property>
        <property name="chanPayHelp" ref="chanPayHelp"></property>
        <property name="bankAuthDao" ref="bankAuthDao"></property>
        <property name="identifyDao" ref="identifyDao"></property>
        <property name="payHelp" ref="payHelp"></property>
    </bean>
    <bean id="chanPayAction" class="com.fusibang.actions.ChanPayAction" scope="prototype">
        <property name="chanPayService" ref="chanPayService"></property>
    </bean>
    <!-- 微信支付 -->
    <bean id="wechatPayHelp" class="com.fusibang.help.WechatPayHelp">
        <property name="appid" value="${wechat.appid}"></property>
        <property name="key" value="${wechat.key"></property>
        <property name="mch_id" value="${wechat.mch_id}"></property>
        <property name="serverIp" value="${project.serverIp}"></property>
        <property name="hostName" value="${project.host}"></property>
        <property name="webName" value="${project.name}"></property>
        <property name="payHelp" ref="payHelp"></property>
    </bean>
    <bean id="wechatPayService" class="com.fusibang.servicesimp.WechatPayServiceImp">
        <property name="appid" value="${wechat.appid}"></property>
        <property name="secret" value="${wechat.secret}"></property>
        <property name="appid2" value="${wechatg.appid}"></property>
        <property name="secret2" value="${wechatg.secret}"></property>
        <property name="mch_id" value="${wechat.mch_id}"></property>
        <property name="totalFree" value="${wechat.totalFree}"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="wechatPayHelp" ref="wechatPayHelp"></property>
        <property name="payHelp" ref="payHelp"></property>
        <property name="hostName" value="${project.host}"></property>
        <property name="webName" value="${project.name}"></property>
    </bean>
    <bean id="wechatPayAction" class="com.fusibang.actions.WechatPayAction" scope="prototype">
        <property name="wechatPayService" ref="wechatPayService"></property>
    </bean>
    <!-- 模版消息 -->
    <bean id="weiXinDao" class="com.fusibang.dao.WeiXinDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="newsLogDao" class="com.fusibang.dao.NewsLogDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="newsService" class="com.fusibang.servicesimp.NewsServiceImp">
        <property name="weiXinDao" ref="weiXinDao"></property>
        <property name="newsLogDao" ref="newsLogDao"></property>
        <property name="appStoreDao" ref="appStoreDao"></property>
        <property name="host" value="${project.host}"></property>
        <property name="webName" value="${project.name}"></property>
    </bean>
    <bean id="newsAction" class="com.fusibang.actions.NewsAction" scope="prototype">
        <property name="newsService" ref="newsService"></property>
    </bean>
    <!-- 页面模版 -->
    <bean id="templateAction" class="com.fusibang.actions.TemplateAction" scope="prototype"></bean>
</beans>
